boto==2.48.0
bz2file==0.98
certifi==2022.12.7
chardet==3.0.4
coloredlogs==7.3
h5py==2.7.1
humanfriendly==4.4.1
idna==2.6
Keras==2.0.8
lightgbm==2.0.10
nltk==3.2.5
numpy==1.13.3
requests==2.18.4
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
sklearn==0.0
smart-open==1.5.3
Theano==0.9.0
urllib3==1.22
